@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #20202036;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Playfair Display", serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1 {
    font-family: "Playfair Display", serif;
    @apply text-[60px] sm:text-[70px] md:text-[80px] lg:text-[90px] xl:text-[100px] text-primary;
  }
  
  h2 {
    font-family: "Playfair Display", serif;
    @apply text-[30px] sm:text-[35px] md:text-[40px] lg:text-[45px] xl:text-[50px];
  }
  
  h3 {
    font-family: "Roboto", serif;
    @apply text-[24px] sm:text-[28px] md:text-[32px] lg:text-[36px] xl:text-[40px] text-primary/70;
  }
  
  h4 {
    font-family: "Roboto", serif;
    @apply text-[20px] sm:text-[24px] md:text-[28px] lg:text-[32px] xl:text-[36px];
  }


.contactsLink{
    @apply border rounded-[50%] px-5 py-5 hover:border-pink-500 transition-colors duration-75 
}

.link{
    @apply text-[25px] font-normal transition-all duration-200 ease-in-out;
}

.link:hover{
    border-bottom: solid 1px var(--primary);
}