@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #20202036;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Playfair Display", serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    font-family: "Playfair Display", serif;
    @apply text-[60px] sm:text-[80px] md:text-[85px] lg:text-[90px] xl:text-[120px] text-primary;

}

h2{
    font-family: 'Playfire Display', serif;
    @apply  text-[25px] sm:text-[25px] md:text-[35px] lg:text-[40px] xl:text-[50px];
}

h3{
    font-family: "Roboto", serif;
    @apply text-[25px] text-primary/70  sm:text-[25px] md:text-[30px]  xl:text-[35px];
}

h4{
    font-family: "Roboto", serif;
   
}


.contactsLink{
    @apply border rounded-[50%] px-5 py-5 hover:border-pink-500 transition-colors duration-75 
}

.link{
    @apply text-[25px] font-normal transition-all duration-200 ease-in-out;
}

.link:hover{
    border-bottom: solid 1px var(--primary);
}