@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #20202036;
}

body{
    font-family: "Playfair Display", serif;
}

body::-webkit-scrollbar{
    display: none;
}

h1{
    font-family: "Playfair Display", serif;
}


h3{
    font-family: "Roboto", serif;
}



.link{
    font-size: 25px;
    font-weight: 400;
    transition: all .2s ease;
}

.link:hover{
    border-bottom: solid 1px var(--primary);
}